apiVersion: apps/v1
kind: Deployment
metadata:
  name: api2-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api2
  template:
    metadata:
      labels:
        app: api2
    spec:
      containers:
      - name: api2
        image: api2:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: api2-service
spec:
  type: ClusterIP
  selector:
    app: api2
  ports:
  - port: 80
    targetPort: 8000
